h1 {
    color: green;
}



#colorname {
    color: red;
}

.circular--landscape { 
    display: inline-block; 
    position: relative; 
    width: 100px; height: 100px; 
    overflow: hidden; 
    border-radius: 50%; 
}
     
.circular--landscape img { 
    max-width: 100%; 
    height: auto; 
}