<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body class="container">

    <header>
        <%- include('../partials/header'); %>
    </header>

    <main>
        <div class="jumbotron">
            <h1>Sign up</h1>
            <form method="POST">
                <div class="form-group form-control-lg">
                    <label for="signupUsername">Username:</label>
                    <input class="form-control" type="text" name="username" placeholder="Username" id="signupUsername"
                        required>
                </div><br>
                <div class="form-group form-control-lg">
                    <label for="signupPassword">Password:</label>
                    <input class="form-control" type="password" name="password" placeholder="Password"
                        id="signupPassword" required>
                </div><br><br>
                <button type="submit" class="btn btn-primary">Sign up</button>
            </form>
        </div>
    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>

</body>

</html>