<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body class="container">

    <header>
        <%- include('../partials/header'); %>
    </header>

    <main>
        <div class="jumbotron">
            <h1>Sign up!</h1>

            <form method="POST">
                Username:<input type="text" name="username" required><br>
                Password: <input type="password" name="password" required>
                <input type="submit" value="OK">
            </form>
        </div>
    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>

</body>

</html>